In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('apy.csv')
df.head(50)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.00,2000.00
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.00,1.00
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.00,321.00
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.00,641.00
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.00,165.00
5,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Coconut,18168.00,65100000.00
6,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Dry ginger,36.00,100.00
7,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sugarcane,1.00,2.00
8,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sweet potato,5.00,15.00
9,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Tapioca,40.00,169.00
10,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Arecanut,1254.00,2061.00
11,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Other Kharif pulses,2.00,1.00
12,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Rice,83.00,300.00
13,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Cashewnut,719.00,192.00
14,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Coconut,18190.00,64430000.00
15,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Dry ginger,46.00,100.00
16,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Sugarcane,1.00,1.00
17,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Sweet potato,11.00,33.00
18,Andaman and Nicobar Islands,NICOBARS,2002,Kharif,Rice,189.20,510.84
19,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Arecanut,1258.00,2083.00
20,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Banana,213.00,1278.00
21,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Black pepper,63.00,13.50
22,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Cashewnut,719.00,208.00
23,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Coconut,18240.00,67490000.00
24,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Dry chillies,413.00,28.80
25,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Dry ginger,47.30,133.00
26,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Sugarcane,5.00,40.00
27,Andaman and Nicobar Islands,NICOBARS,2003,Kharif,Rice,52.00,90.17
28,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Arecanut,1261.00,1525.00
29,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Banana,266.00,1763.00
30,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Black pepper,75.50,15.86
31,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Cashewnut,717.00,208.50
32,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Coconut,18284.74,68580000.00
33,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Dry chillies,60.00,102.00
34,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Dry ginger,102.00,326.40
35,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,other oilseeds,4.20,0.30
36,Andaman and Nicobar Islands,NICOBARS,2004,Kharif,Rice,52.94,72.57
37,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Arecanut,1264.70,805.85
38,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Banana,66.42,404.12
39,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Black pepper,85.00,15.86
40,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Cashewnut,683.50,197.90
41,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Coconut,18394.70,52380000.00
42,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Dry chillies,60.00,145.20
43,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Dry ginger,118.00,366.00
44,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,other oilseeds,1.00,0.11
45,Andaman and Nicobar Islands,NICOBARS,2005,Kharif,Rice,2.09,12.06
46,Andaman and Nicobar Islands,NICOBARS,2005,Whole Year,Arecanut,795.67,NaN
47,Andaman and Nicobar Islands,NICOBARS,2005,Whole Year,Banana,22.00,582.00
48,Andaman and Nicobar Islands,NICOBARS,2005,Whole Year,Black pepper,41.00,0.10
49,Andaman and Nicobar Islands,NICOBARS,2005,Whole Year,Cashewnut,450.00,55.80

In [3]:
maharashtra = df.groupby('State_Name').get_group('Maharashtra')

In [4]:
maharashtra.describe()

          Crop_Year           Area    Production
count  12628.000000   12628.000000  1.249600e+04
mean    2005.230519   25515.223076  1.011236e+05
std        5.047317   59098.998465  7.303716e+05
min     1997.000000       1.000000  0.000000e+00
25%     2001.000000     500.000000  3.000000e+02
50%     2005.000000    3400.000000  2.600000e+03
75%     2010.000000   23100.000000  2.160000e+04
max     2014.000000  726300.000000  2.004970e+07

In [5]:
maharashtra['Crop'].unique()

array(['Maize', 'Arhar/Tur', 'Bajra', 'Gram', 'Jowar',
       'Moong(Green Gram)', 'Pulses total', 'Ragi', 'Rice', 'Sugarcane',
       'Total foodgrain', 'Urad', 'Other  Rabi pulses', 'Wheat',
       'Cotton(lint)', 'Castor seed', 'Groundnut', 'Niger seed',
       'Other Cereals & Millets', 'Other Kharif pulses', 'Sesamum',
       'Soyabean', 'Sunflower', 'Linseed', 'Rapeseed &Mustard',
       'Safflower', 'Small millets', 'other oilseeds', 'Banana', 'Grapes',
       'Mango', 'Onion', 'Tomato', 'Tobacco'], dtype=object)

In [11]:
maharashtra.head(50)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
125191,Maharashtra,AHMEDNAGAR,1997,Autumn,Maize,1.0,1113.0
125192,Maharashtra,AHMEDNAGAR,1997,Kharif,Arhar/Tur,17600.0,6300.0
125193,Maharashtra,AHMEDNAGAR,1997,Kharif,Bajra,274100.0,152800.0
125194,Maharashtra,AHMEDNAGAR,1997,Kharif,Gram,40800.0,18600.0
125195,Maharashtra,AHMEDNAGAR,1997,Kharif,Jowar,900.0,1100.0
125196,Maharashtra,AHMEDNAGAR,1997,Kharif,Maize,4400.0,4700.0
125197,Maharashtra,AHMEDNAGAR,1997,Kharif,Moong(Green Gram),10200.0,900.0
125198,Maharashtra,AHMEDNAGAR,1997,Kharif,Pulses total,451.0,130.0
125199,Maharashtra,AHMEDNAGAR,1997,Kharif,Ragi,2600.0,2100.0
125200,Maharashtra,AHMEDNAGAR,1997,Kharif,Rice,5900.0,7200.0
125201,Maharashtra,AHMEDNAGAR,1997,Kharif,Sugarcane,45900.0,38940.0
125202,Maharashtra,AHMEDNAGAR,1997,Kharif,Total foodgrain,3384.0,1836.0
125203,Maharashtra,AHMEDNAGAR,1997,Kharif,Urad,1600.0,800.0
125204,Maharashtra,AHMEDNAGAR,1997,Rabi,Jowar,598400.0,217000.0
125205,Maharashtra,AHMEDNAGAR,1997,Rabi,Maize,6200.0,9100.0
125206,Maharashtra,AHMEDNAGAR,1997,Rabi,Other Rabi pulses,60.0,3.0
125207,Maharashtra,AHMEDNAGAR,1997,Rabi,Wheat,79700.0,87100.0
125208,Maharashtra,AHMEDNAGAR,1997,Summer,Maize,1100.0,1900.0
125209,Maharashtra,AHMEDNAGAR,1997,Whole Year,Cotton(lint),98.0,17900.0
125210,Maharashtra,AHMEDNAGAR,1998,Kharif,Arhar/Tur,18800.0,9700.0
125211,Maharashtra,AHMEDNAGAR,1998,Kharif,Bajra,302400.0,243900.0
125212,Maharashtra,AHMEDNAGAR,1998,Kharif,Castor seed,400.0,100.0
125213,Maharashtra,AHMEDNAGAR,1998,Kharif,Cotton(lint),12100.0,19900.0
125214,Maharashtra,AHMEDNAGAR,1998,Kharif,Groundnut,7100.0,6200.0
125215,Maharashtra,AHMEDNAGAR,1998,Kharif,Jowar,300.0,500.0
125216,Maharashtra,AHMEDNAGAR,1998,Kharif,Maize,5800.0,12500.0
125217,Maharashtra,AHMEDNAGAR,1998,Kharif,Moong(Green Gram),15600.0,9100.0
125218,Maharashtra,AHMEDNAGAR,1998,Kharif,Niger seed,2100.0,900.0
125219,Maharashtra,AHMEDNAGAR,1998,Kharif,Other Cereals & Millets,4100.0,2400.0
125220,Maharashtra,AHMEDNAGAR,1998,Kharif,Other Kharif pulses,16800.0,7000.0
125221,Maharashtra,AHMEDNAGAR,1998,Kharif,Ragi,3000.0,2100.0
125222,Maharashtra,AHMEDNAGAR,1998,Kharif,Rice,5600.0,7400.0
125223,Maharashtra,AHMEDNAGAR,1998,Kharif,Sesamum,900.0,300.0
125224,Maharashtra,AHMEDNAGAR,1998,Kharif,Soyabean,4600.0,5500.0
125225,Maharashtra,AHMEDNAGAR,1998,Kharif,Sugarcane,59600.0,5231800.0
125226,Maharashtra,AHMEDNAGAR,1998,Kharif,Sunflower,11500.0,3500.0
125227,Maharashtra,AHMEDNAGAR,1998,Kharif,Urad,2800.0,1300.0
125228,Maharashtra,AHMEDNAGAR,1998,Rabi,Gram,59600.0,40900.0
125229,Maharashtra,AHMEDNAGAR,1998,Rabi,Jowar,453200.0,227900.0
125230,Maharashtra,AHMEDNAGAR,1998,Rabi,Linseed,1200.0,400.0
125231,Maharashtra,AHMEDNAGAR,1998,Rabi,Maize,7900.0,12200.0
125232,Maharashtra,AHMEDNAGAR,1998,Rabi,Other Rabi pulses,500.0,300.0
125233,Maharashtra,AHMEDNAGAR,1998,Rabi,Other Cereals & Millets,3000.0,3700.0
125234,Maharashtra,AHMEDNAGAR,1998,Rabi,Rapeseed &Mustard,200.0,NaN
125235,Maharashtra,AHMEDNAGAR,1998,Rabi,Safflower,30000.0,18500.0
125236,Maharashtra,AHMEDNAGAR,1998,Rabi,Sesamum,400.0,100.0
125237,Maharashtra,AHMEDNAGAR,1998,Rabi,Sunflower,9200.0,5100.0
125238,Maharashtra,AHMEDNAGAR,1998,Rabi,Wheat,124400.0,154200.0
125239,Maharashtra,AHMEDNAGAR,1998,Summer,Groundnut,15000.0,25700.0
125240,Maharashtra,AHMEDNAGAR,1998,Summer,Maize,1500.0,2300.0

In [12]:
maharashtra['Production'].isnull().sum()

132

In [ ]:
sns.heatmap(maharashtra.corr())

In [ ]:
sns.pairplot(maharashtra,hue='Crop')

In [ ]:

plt.figure(figsize=(20,10))
plt.scatter(maharashtra['Production'].fillna(1),maharashtra.Crop,color = 'green')
plt.xlim(0 ,3000000)
plt.title('The Crops and their production in Maharashtra',fontsize=16)
plt.xlabel('Production',fontsize=20)
plt.ylabel('Crops',fontsize=20)

In [ ]:
plt.figure(figsize=(20,8))
sns.barplot(data = maharashtra,x = 'Production',y='Crop')
plt.xlim(0 ,2000000)

As we can see in above graph the sugacane production is almost 95%
and other are 5% so it difficult to see accurate values of other crops
that why i am plot seperate graph of sugarcane and other crops

In [ ]:
PUNE = df.groupby('District_Name').get_group('PUNE')
SOLAPUR = df.groupby('District_Name').get_group('SOLAPUR')
AHMEDNAGAR = df.groupby('District_Name').get_group('AHMEDNAGAR')
SATARA = df.groupby('District_Name').get_group('SATARA')

In [ ]:
A=PUNE.groupby('Crop').get_group('Sugarcane')
B=SOLAPUR.groupby('Crop').get_group('Sugarcane')
C=AHMEDNAGAR.groupby('Crop').get_group('Sugarcane')
D=SATARA.groupby('Crop').get_group('Sugarcane')

plt.figure(figsize=(15,6))
plt.plot(A.Crop_Year,A.Production,label = 'pune',marker = 'o')
plt.plot(B.Crop_Year,B.Production,label = 'Solapur',marker = 'o')
plt.plot(C.Crop_Year,C.Production,label = 'AhamedNagar',marker = 'o')
plt.plot(D.Crop_Year,D.Production,label = 'Satara',marker = 'o')
plt.xlim(1997)
plt.ylim(bottom = 20000)
plt.xlabel('Crop years')
plt.ylabel('Production')
plt.title('Sugarcane productions from Pune, Solapur, Ahmednagar, Satara')
plt.grid(True)
plt.legend(fontsize = 'x-large')

In [ ]:
plt.figure(figsize=(20,8))
yax = np.arange(len(A.Production))
ind = np.arange(len(A.Crop_Year)) 
width = 0.35       
plt.bar(ind, A.Production, width, label='Pune')
plt.bar(ind + width, B.Production, width,label='Solapur')

plt.ylabel('Production',fontsize = 16)
plt.title('Sugarcane production in 2014 in Pune and Solapur',fontsize = 16)
plt.xlabel('Crop Years ',fontsize = 16)
plt.xticks(ind + width /2,A.Crop_Year)
plt.legend(loc='best',
          title='Dist',
          fontsize = 'xx-large')
plt.grid(True)

In [ ]:

P=PUNE.groupby('Crop_Year').get_group(2014)
Q=SOLAPUR.groupby('Crop_Year').get_group(2014)
R=SATARA.groupby('Crop_Year').get_group(2014)
S=AHMEDNAGAR.groupby('Crop_Year').get_group(2014)

L= P.loc[134491:134513]
M =Q.loc[136534:136557]
O = R.loc[135870:135892]
B = S.loc[125662:125684]
plt.subplots(figsize=(20,8))
plt.bar(L.Crop,L.Production)
plt.title('Crop production in Pune 2014 excpet sugarcane ',fontsize=30)
plt.xlabel('Crop',fontsize=30)
plt.ylabel('Production',fontsize=30)



plt.subplots(figsize=(20,8))
plt.bar(M.Crop,M.Production)
plt.title('Crop production in Solapur 2014 excpet sugarcane ',fontsize=30)
plt.xlabel('Crop',fontsize=30)
plt.ylabel('Production',fontsize=30)


plt.subplots(figsize=(20,8))
plt.bar(O.Crop,O.Production)
plt.title('Crop production in Satara 2014 excpet sugarcane ',fontsize=30)
plt.xlabel('Crop',fontsize=30)
plt.ylabel('Production',fontsize=30)



plt.subplots(figsize=(20,8))
plt.bar(B.Crop,B.Production)
plt.title('Crop production in Ahamadnagar 2014 excpet sugarcane ',fontsize=30)
plt.xlabel('Crop',fontsize=30)
plt.ylabel('Production',fontsize=30)

In [ ]:

fig, ax = plt.subplots(figsize=(15, 10))
colors = ['red','yellow','pink','green','black','brown','orange','indigo','violet','lime','blue','navy','purple','olive'
         ,'teal','#840000','#dae6e9','#d0ff14','#dfff11','#eec87c','#4f1507','#f4a460','#d46f31','#c51959','#f7d6cb','#ed0dd9'
         '#46295a','#606865','#3a514d','#7a1f3d']
ax.pie(P.Area, autopct='%1.1f%%',textprops=dict(color="w"),pctdistance=0.8,colors = colors,startangle = -45)

ax.legend(P.Crop,title="Crops",loc="center left",bbox_to_anchor=(1, 0, 5, 1))

plt.title('Occupied Areas by crops ',fontsize = 20)